/* .sx__calendar {
    --sx-color-primary: var(--primary);
    --sx-color-on-primary: var(--primary-foreground);
    --sx-color-primary-container: var(--accent);
    --sx-color-on-primary-container: var(--accent-foreground);
    --sx-color-secondary: var(--secondary);
    --sx-color-on-secondary: var(--secondary-foreground);
    --sx-color-secondary-container: var(--muted);
    --sx-color-on-secondary-container: var(--muted-foreground);
    --sx-color-tertiary: var(--destructive);
    --sx-color-on-tertiary: var(--destructive-foreground);
    --sx-color-tertiary-container: var(--popover);
    --sx-color-on-tertiary-container: var(--popover-foreground);
    --sx-color-surface: var(--background);
    --sx-color-surface-dim: var(--border);
    --sx-color-surface-bright: var(--background);
    --sx-color-on-surface: var(--foreground);
    --sx-color-surface-container: var(--card);
    --sx-color-surface-container-low: var(--input);
    --sx-color-surface-container-high: var(--ring);
    --sx-color-background: var(--background);
    --sx-color-on-background: var(--foreground);
    --sx-color-outline: var(--border);
    --sx-color-outline-variant: var(--input);
    --sx-color-shadow: var(--foreground);
    --sx-color-surface-tint: var(--primary);
    --sx-color-neutral: var(--border);
    --sx-color-neutral-variant: var(--input);
    --sx-internal-color-gray-ripple-background: var(--muted);
    --sx-internal-color-light-gray: var(--card);
    --sx-internal-color-text: var(--foreground); 
} */